<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>

        <script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
		<script type="text/javascript" src="{% static "js/fishy-query.js" %}"></script>

<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.11.1/themes/flick/jquery-ui.css">

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
	integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="icon" href="{% static 'fish_images/fish.ico' %}">
		<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static "mystyle.css" %}">


        <title>
            {% block title_block %}
             Fishy Dishy!
            {% endblock %}
        </title>

		{% block scripts %}
		{% endblock %}

    </head>
    <body>
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'index' %}" style="font-size: 28px">Fishy Dishy</a>
			</div>
			<ul class="nav navbar-nav text-center">
				<li><a href="{% url 'fish_map' %}" style="font-size: 25px;">Monger Map</a></li>
				<li><a href="{% url 'fish_finder' %}" style="font-size: 25px;">Fish Finder</a></li>
				<li><a href="{% url 'recipes' %}" style="font-size: 25px;">Recipes</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'add_recipe' %}" style="font-size: 25px;">Add a Recipe</a></li>
                <li><a href="{% url 'logout' %}?next=/fishydishy/" style="font-size: 25px;">Logout</a></li>
                <li><a href="{% url 'user_profile' %}" style="font-size: 25px;">Your Profile</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" style="font-size: 25px;">Login</a></li>
                {% endif %}
			</ul>


	<form name="myform" method="GET" action="{% url 'search' %}" class="form-inline pull-right">
        <input type="text" name="search" placeholder="Search the Site" id="address"/>

    	</form>
	</div>
	</nav>
            {% block body_block %}
            {% endblock %}


	<footer class="container-fluid text-center">
<div class="col-md-4">
<a href="{% url 'about' %}">About</a>
</div>
<div class="col-md-4">
	<a href="{% url 'contact' %}" style="font-size: 25px;">Contact</a>
</div>
<div class="col-md-4">
	<a href="/fishydishy/site_map/" style="font-size: 25px;">SiteMap</a>
</div>
	</footer>

    </body>
</html>