{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
Find a Fish!
{% endblock %}

{% block body_block %}

<body onload="getLocation()" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="col-lg-12" style="padding: 15px;"></div>
    <h1>FishFinder</h1>
</div>

<div class="containter">
    <div class="row">
        <div class="col-lg-4" style="padding: 15px;">

            <h3>Search by type:</h3><br>
            <div>
                <label>
                    <input type="radio" name="options" id="oily"> Oily Fish</label><br>
                <label>
                    <input type="radio" name="options" id="white"> White Fish</label><br>
                <label>
                    <input type="radio" name="options" id="flat"> Flat Fish</label><br>
                <label>
                    <input type="radio" name="options" id="shell"> Shellfish</label><br>
                <label>
                    <input type="radio" name="options" id="all"> All</label><br>

            </div>

            <br><br>
            <h3>Search by sustainability:</h3><br>

            <div>
                <center></center>
                <button class="btn btn5" onclick="myFunction()"> 5</button>
                <button class="btn btn4" onclick="myFunction()"> 4</button>
                <button class="btn btn3" onclick="myFunction()"> 3</button>
                <button class="btn btn2" onclick="myFunction()"> 2</button>
                <button class="btn btn1" onclick="myFunction()"> 1</button>
                </center></div>
            <br>
        </div>
        <div class="col-lg-8" style="padding: 15px;">
            <div>
                {% for Fish in fishList %}
                <div class="containter">
                    <div class="row">
                        <div class="col-lg-5" style="padding: 15px;">
                            <img class="fish-image" src="/{{ Fish.image }}" alt="Picture of {{ Fish.name}}"/></div>
                        <div class="col-lg-7" style="padding: 15px;">
                            <h2>{{ Fish.name }}</h2>
                            <p>{{ Fish.description }}</p><br>
                            <p><b>Average Sustainability Rating:</b><i> {{ Fish.sustainability }}</i></p>
                            <p><b>Area:</b> <i> {{ Fish.area }}</i></p>
                        </div>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script>

    $("input").on("change", function () {
        $(log).append($(this).prop('checked').toString())
    });



</script>


{% endblock %}