{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Find a Fish!
{% endblock %}

{% block body_block %}

<body onload="getLocation()" xmlns="http://www.w3.org/1999/html">
<div class="row">
		<div class="col-lg-12" style="padding: 15px;"></div>
	<h1>FishFinder</h1><br>
	</div>

<div class="containter">
	<div class="row">
		<div class="col-lg-5" style="padding: 15px;">

			<p>Search by type:</p>
			<div>
				<label>
					<input type="radio" name="options" id="oily"> Oily Fish</label><br>
				<label>
					<input type="radio" name="options" id="white"> White Fish</label><br>
				<label>
					<input type="radio" name="options" id="flat"> Flat Fish</label><br>
				<label>
					<input type="radio" name="options" id="shell"> Shellfish</label><br>
				<label>
					<input type="radio" name="options" id="all"> All</label><br>
			</div>

	<br><br>
			<p>Search by sustainability:</p><br>

			<div>
				<button class="btn btn5" onclick="myFunction()"> 5 </button>
				<button class="btn btn4" onclick="myFunction()"> 4 </button>
				<button class="btn btn3" onclick="myFunction()"> 3 </button>
				<button class="btn btn2" onclick="myFunction()"> 2 </button>
				<button class="btn btn1" onclick="myFunction()"> 1 </button>
			</div>
		<br>
		</div>

<div class="col-lg-7" style="padding: 15px;">

	<div>
		
		
			{% for Fish in fishList %}
				<li>{{ Fish.name }}
				<ul>
					<li>Sustainability rating: {{ Fish.sustainability }}</li>
					<li><img src="{% static "/images/{{ Fish.name }}.jpg" %}" alt="Picture of {{ Fish.name }}" /></li>
				</ul>
				</li>
			{% endfor %}
		
	
	</div>
</div></div></div>


	<script>

$("input").on("change", function () {
    $(log).append($(this).prop('checked').toString())
});


</script>

	
	{% endblock %}