{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
- Find Your Local Fishmongers!
{% endblock %}


{% block body_block %}

<body onload="getLocation()">
<center>
    <h1>Find Your Local Fishmongers</h1><br><br>
    
    Here at Fishy Dishy, we believe in eating and shopping local.
   
    <p>
    Enter your postcode or city location below to find your local fish emporium.
    </p><br>
    
    <p>
    <input id="address" type="text" placeholder="Enter address here" /><br><br>
    <button class="btn" id="btn">Go Fish >></button>
    </p><br>
    
    <div id="map" style="width:50%;height:400px;"></div>
    <br><br></center>

<script type="text/javascript" src="{% static 'js/fish_map.js' %}"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBY6Cy7iHH4lxQN6f-JdyuM5qC1UFyT5Os&libraries=places&callback=initMap"></script>

    
    
    {% endblock %}

