{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Fishy Dishy - Home
{% endblock %}

{% block body_block %}

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="{% static 'images/fishmongers.jpg' %}" alt="Fishmongers">
    <div class="card-block">
    <center><h2 class="card-title">Find Your Local Fishmongers</h2>
      <p class="card-text">When it comes to buying fish, no one knows better than your local fish mongers. Get familiar with yours with our handy map!</p><br>

     <a href="{% url 'fish_map' %}" class="btn" role="button">Go Fish >></a><br>

    </center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'images/catch.jpg' %}" alt="Cod">
    <div class="card-block">
      <center><h2 class="card-title">Catch of the Day!</h2>
      <p class="card-text">Flakey, meaty and rich in flavour, <b>Seabass</b> melts like butter on the tongue, especially at this time of year. Perfect when you are cooking to impress, this little guy is a real show stopper.</p><br>
    <a href="{% url 'fish_map' %}" class="btn" role="button">View Recipes >></a><br>
      </center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'images/fishtacos.jpg' %}" alt="Our top recipes">
    <div class="card-block">
     <center><h2 class="card-title">Featured Recipe:<br>Baja Fish Tacos</h2>
      <p class="card-text">Crunchy on the outside and delicate on the inside, this delicious recipe proves that fish tacos are tacos - but better. </p><br><br>
       <a href="{% url 'fish_map' %}" class="btn" role="button">Get Cooking >></a><br>
      </center>
    </div>
  </div>
</div>
	
	{% endblock %}