{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<h1>Log In to Fishy Dishy!</h1> <br />
<form id="login_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br /> <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br /> <br />
    <input type="submit" value="Submit" /> <br /> <br />
</form>

<p>
		Not a member?
		<a href="{% url 'register' %}">Register here!</a>
	</p><br><br>
{% endblock %}
