{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ recipe.name }}
{% endblock %}

{% block body_block %}

<div class="header">
    <center><img src="{% static 'images/fishydishypageheader.jpg' %}" alt="Fishy Dishy Header" /></center>
</div>
<div class="row">
    <div class="col-lg-12" style="padding: 15px;"></div>
</div>
<div class="row">
    <div class="col-lg-2" style="padding: 15px;">
    </div>
    <div class="col-lg-8" style="padding: 15px;">


<div class="row">
    <div class="col-lg-12" style="padding: 15px;"></div>
    <h1>{{ recipe.name }} {% if reviews %} {% for i in scoreRange %} &#9734; {% endfor %} {% endif %}</h1>
    <p>by {{ recipe.user }}</p>
</div>

<div class="containter">
    <div class="row">
        <div class="col-lg-5" style="padding: 15px;">
            <img class="fish-image" src="{{ MEDIA_URL }}/{{ recipe.image }}"
                 alt="Picture of {{ recipe.name}}"/>

            <h3><b>Ingredients</b></h3><br>
		

            {{ recipe.ingredients }}


        </div>

        <div class="col-lg-7" style="padding: 15px;">
            <div class="containter recipe {{ recipe.fish }}">

                <p>{{ recipe.description }}</p><br>
                <p><b>Servings:</b><i> {{ recipe.serves }}</i></p>
                <p><b>Cooking time:</b><i> {{ recipe.time }} minutes</i></p>
                <p><b>Fish used:</b> <i> {{ recipe.fish }}</i></p><br><br>

                <h3><b>Method</b></h3><br>
                <p>{{ recipe.method }}</p>

            </div>
        </div>
    </div>
</div>
        <br><br>

        <div class="row">
            <div class="col-lg-12" style="padding: 15px;">

                <center>
                    <h1>Comments...</h1><br><br>
                    <div class="comment_section">
                        {% if reviews %}

                        {% for review in reviews %}

                        <p>{{ review.comment }}<br></p>
                        <p style="color:#2e9fb5;"><b> - {{ review.user }}</b><br></p>
                        <p style="color:#C7C6CB; font-size: medium"><i>{{ review.date_posted }}</i><br></p>
                        {% endfor %}
                        {% else %}
                        <p id="No_comments">Nobody has commented on this recipe yet.</p>
                        {% endif %}
                        <br><br>


                    </div>
                </center>
                {% if user.is_authenticated %}
                <center>
                    <h1>Leave a Comment...</h1>

                    <form id="review_form" method="post" action="/fishydishy/recipe/{{ recipe.slug }}/">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {{ hidden.errors }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br>
                        {{ field }}<br><br>
                        {% endfor %}

                        <input type="submit" name="submit" value="Post Comment" class="btn"/><br><br>
                    </form>

                    {% else %}
                    {% endif %}
                </center>
                <br><br><br>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/recipe_form.js' %}"></script>

{% endblock %}