{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Recipes
{% endblock %}

{% block body_block %}

<div class="row">
		<div class="col-lg-12" style="padding: 15px;"></div>
	<h1>Browse Recipes</h1><br>
	</div>

<div class="containter">
	<div class="row">
		<div class="col-lg-5" style="padding: 15px;">

			<p>Sort by:</p><br>
			DROPDOWN HERE

</div>

<div class="col-lg-7" style="padding: 15px;">


	<div>
		
		<p>RECIPE RESULTS GO HERE</p>
			{% for Recipe in recipeList %}
				<li>{{ Recipe.name }}
				<ul>
					<li>Fish: {{ Recipe.fish }}</li>
					<li>{{ Recipe.user }}</li>
				</ul>
				</li>
		<hr>
			{% endfor %}
	</div>


</div></div></div>


	
	{% endblock %}