{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Registration
{% endblock %}

{% block body_block %}
    <h1>Register for Fishy Dishy!</h1>
    {% if registered %}
       <strong>Thank you for Registering!</strong><br>
        <a href="{% url 'index' %}">Return to the Fishy Dishy homepage.</a><br />
    {% else %}
        <strong>Registration</strong><br />
        <form id="user_form" method="post" action="{% url 'register' %}"
                enctype="multipart/form-data">
        
        {% csrf_token %}
        
        <!-- Display each form -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <!-- Provide a button to click to submit form. -->
        <input type="submit" name="submit" value="Register" />    
    </form><br><br>
    {% endif %}
{% endblock %}