{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search results
{% endblock %}



{% block body_block %}

 <h1>We found...</h1><br><br>

{% if fishSearch %}
<strong>fish:</strong>
<br>
{% for f in fishSearch %} 
    
    <!-- <img src="{{f.image}}" alt="No Image"></a> -->
    <p>{{f.name}}</p>
    <p>{{f.description}}</p>   
{% endfor %}
{% else %}
{% endif %}

<br>
<br>

{% if recipeSearch %}
<strong>recipes:</strong>
<br>
{% for r in recipeSearch %} 
    
    <!-- <img src="{{r.image}}" alt="No Image"></a> -->
    <p>{{r.name}}</p>
    <p>{{r.description}}</p>   
{% endfor %}
{% else %}
	Nothing.
{% endif %}

{% endblock %}