{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
Site Map
{% endblock %}

{% block body_block %}
<div class="header">
    <center><img src="{% static 'images/fishydishypageheader.jpg' %}" alt="Fishy Dishy Header" /></center>
</div>
<div class="row">
    <div class="col-lg-12" style="padding: 15px;"></div>
</div>
<div class="row">
    <div class="col-lg-2" style="padding: 15px;">
    </div>
    <div class="col-lg-8" style="padding: 15px;">
    </div>
</div>


<div class="row">
    <div class="col-lg-12" style="padding: 15px;"></div>
    <center><h1>Site Map</h1><br></center>
</div>
<center>
    <div class="container">
        <div class="row">
            <div class="col-lg-4" style="padding: 15px;">

                <h2>Main</h2><br>
                <a href="{% url 'index' %}" style="font-size: 25px;">HomePage</a><br>
                <a href="{% url 'contact' %}" style="font-size: 25px;">Contact</a><br>
                <a href="{% url 'about' %}" style="font-size: 25px;">About</a><br>
                <a href="{% url 'site_map' %}" style="font-size: 25px;">SiteMap</a><br><br>

                <h2>Recipes</h2><br>
                <a href="{% url 'recipes' %}" style="font-size: 25px;">Recipe List</a><br>
                {% if user.is_authenticated %}
                <a href="{% url 'add_recipe' %}" style="font-size: 25px;">Add Recipe</a><br>
                {% endif %}
                <br><br>
            </div>

            <div class="col-lg-4" style="padding: 15px;">

                <h2>User</h2><br>
                <a href="{% url 'login' %}" style="font-size: 25px;">Login</a><br>
                <a href="{% url 'register' %}" style="font-size: 25px;">Register</a><br>
                {% if user.is_authenticated %}
                <a href="{% url 'user_profile' %}" style="font-size: 25px;">Your Profile</a><br>
                {% endif %}
                <br><br>
            </div>

            <div class="col-lg-4" style="padding: 15px;">
                <h2>Fish</h2><br>
                <a href="{% url 'fish_map' %}" style="font-size: 25px;">Fish Monger Map</a><br>
                <a href="{% url 'fish_finder' %}" style="font-size: 25px;">Fish Finder</a>
                <br><br>
            </div>
        </div>
    </div>
</center>
<br><br><br><br><br><br>
{% endblock %}
