{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
User Profile
{% endblock %}

{% block body_block %}

<div class="row">
    <div class="col-lg-12" style="padding: 15px;"></div>
    <h1>Welcome {{user.username}}!</h1><br>

</div>

<div class="containter">
    <div class="row">
        <div class="col-lg-4" style="padding: 15px;">
            <center>
                <img src="{{ MEDIA_URL }}{{ userStuff.picture }}"
                 alt="Picture of {{ user.username}}"/>
            </center>
            <br>
            <p><b>Your webiste: </b>{{ userStuff.website }}</p>
        </div>
        <div class="col-lg-8" style="padding: 15px;">
            <h2>Your Recipes...</h2>
            {% if recipes %}
            <ul>
                {% for e in recipes %}
                <a href="/fishydishy/recipe/{{ e.slug }}/"><h2>{{ e.name }}</h2></a>
                <br/>
                <p> Decription: {{ e.description }}</p>
                <p> Ingredients: {{ e.ingredients }}</p>
                <p> Method: {{ e.method }}</p>
                <p> Fish: {{ e.fish }}</p>
                <p> Serves: {{ e.serves }}</p>
                {% endfor %}
            </ul>
            {% else %}
            You have no recipes yet. Click <a href="{% url 'add_recipe' %}">here</a> to upload one!
            {% endif %}

            <br><br><br>
        </div>
    </div>
</div>


{% endblock %}
