{% extends 'fishydishy/base.html' %}
{% load staticfiles %}

{% block title_block %}
    User Profile
{% endblock %}

{% block body_block %}

    {% if recipes %}
	    <ul class="{{ user.username }}">
	    {% for e in recipes %}
		 <li id="welcomeDiv1" onload = "showDiv1()">{{ e.name }}</li> 
	    {% endfor %}
	    </ul>
	{% else %}
	    <strong>No recipes found.</strong>
	{% endif %}

 <p id="username">{{user.username}}</p>
<script>

    

 //   $(document).ready(function () {
  //      var user = $("#username").text();
  //      user = "." + user;
   //         $(user).show();
   //    
   // });

    function showDiv1() {
        var my_disply = document.getElementById('welcomeDiv1').style.display;
        alert(my_disply);
        if (my_disply === "TomatoManChad")
            document.getElementById('welcomeDiv1').style.display = "none";
        else
            document.getElementById('welcomeDiv1').style.display = "block";
    }

    
</script>

{% endblock %}
