.header {
    background: #e2f3fc 100% 100% no-repeat;
}

.navbar {
    background-color: #87c9d9;
    font-family: 'Josefin Sans';
    width: 100%;
    top: 0;
    bottom: 0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

footer {
    width: 100%;
    font-weight: 600;
    background-color: #2e9fb5;
    bottom: 0;
    text-transform: uppercase;
    padding: 15px;
    font-size: 25px;
}

footer a {
        color: #FFF;
 }

html, body {
    margin:0;
    padding:0;
    border:0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #000;
}


.row.content {
    height: 100%
}


.card-img-top {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}

h1 {
    font-weight: 700;
    font-size: 45px;
}

h2 {
    font-weight: 700;
    font-size: 35px;
}

h3 {
    font-weight: 500;
    font-size: 25px;
}

.circular-portrait {
 	position: relative;
 	width: 300px;
  	height: 300px;
  	overflow: hidden;
  	border-radius: 50%;
}

.fish-image {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}

img {
    border-radius: 50%;
}

.btn {
    background-color: #87c9d9;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
}

.btn1 {
    background-color: red;
    padding: 18px;
    border-radius:50%;
}

.btn2 {
    background-color: #FF9633;
    padding: 18px;
    border-radius:50%;
}

.btn3 {
    background-color: yellow;
    padding: 18px;
    border-radius:50%;
}

.btn4 {
    background-color: #A5FF33;
    padding: 18px;
    border-radius:50%;
}

.btn5 {
    background-color: #33FF42;
    padding: 18px;
    border-radius:50%;
}

#address {
    padding: 12px;
    text-align: center;
}

.row.content {
    height: auto;
}
